/* utility classes */
.main-title {
  font-size: 30px;
  color: #fff
}

.second-title {
  font-size: 25px
}

.third-title, .fa, .fourth-title {
  font-size: 20px
}

.star:before,
.star:after {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 50px;
  height: 4px;
  border-radius: 5px
}

.m-b {
  margin-bottom: 20px
}

.mg-t-b {
  margin: 20px 0
}

.bg-clr-grn {
  background: #57B99D;
  text-align: center;
  padding: 30px 0
}

.bg-clr-bl {
  background: #3F546B
}

.ep-show-sm {
  display: none
}

.pddg-dx-sx {
  padding: 0 30px
}

.star.w-star:before,
.star.w-star:after {
  background: #fff
}

.star.b-star:before,
.star.b-star:after {
  background: #000
}
/* end utility classes */

/* navbar */
.ep-navbar {
  background-color: #2c3e50;
  color: #fff;
}

.ep-navbar .navbar-brand, .ep-navbar .navbar-nav>li>a {
  color: #fff;
}

.ep-navbar .navbar-brand {
  font-size: 15px;
  font-weight: bolder;
}

.ep-navbar .navbar-nav>li>a {
  font-weight: bolder;
}

.ep-navbar .navbar-brand:hover, .ep-navbar .navbar-nav>li>a:hover {
  color: #57B99D;
}

.navbar {
  border: none;
  border-radius: 0;
  margin: 0
}

img {
  height: 180px
}

.fa-star {
  vertical-align: middle;
  padding: 0 8px
}

/* jumbotron */
.my-jumbotron .fa,
.about .fa {
  color: #fff;
  margin: 10px 0
}

.my-jumbotron p {
  color: #fff;
  font-size: 15px
}

.container {
  text-align: center;
}

/* portfolio */
.portfolio {
  padding: 40px 0
}

.portfolio h2 {
  color: #000
}

.portfolio .fa,
.contact-me .fa {
  color: #000;
  margin: 20px 0
}

.portfolio img {
  border-radius: 30px;
  padding: 15px 15px
}

/* about */
.about h2 {
  color: #fff
}

.row.bg-clr-grn p {
  text-align: left;
  color: #fff;
  font-size: 12px;
  padding: 0 100px
}

.download-button {
  margin: 40px 0
}

.download-button .transparent {
  background: none;
  color: #fff;
  border: 1px solid #fff
}

/* form */
.ep-form input,
.form-group textarea {
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0
}

.ep-form ::placeholder,
.ep-form textarea {
  color: #2C3E50;
  font-size: 20px;
  line-height: 1
}

.ep-form {
  margin: 0 auto;
  width: 250px
}

.ep-form .button {
  text-align: left;
}

.container .btn-success {
  text-align: left;
  margin: 10px 0
}

/* footer */
.upper-footer {
  color: #fff
}

.upper-footer span,
.lower-footer .fa-copyright {
  font-size: 16px
}

.lower-footer  {
  background: #2F3E4E;
  height: 80px;
  text-align: center;
  color: #fff;
  line-height: 80px
}

.download-button button {
  font-size: 10px
}

.icons .fa {
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin: 0 5px
}

/* mediaquery */
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 60px
  }

  .second-title {
    font-size: 55px
  }

  .third-title {
    font-size: 45px
  }

  .my-jumbotron p {
    font-size: 25px
  }

  .ep-form {
    margin: 0 auto;
    width: 600px
  }

  .no-show-sm {
    display: none
  }

  .ep-show-sm {
    display: block
  }

  .star:before,
  .star:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 120px;
    height: 3px
  }

  .row.bg-clr-grn p {
    text-align: left;
    color: #fff;
    font-size: 22px;
    padding: 0
  }

  .portfolio img {
    border-radius: 20px;
    padding-right: 0;
    padding-left: 0
  }

  .download-button button {
    font-size: 20px
  }

  .pddg-dx-sx {
    padding: 0 80px
  }

  .mg-t-b {
    margin: 40px 0
  }

  .upper-footer span {
    font-size: 18px
  }
}
